.company {
    &__map {
        p {
            margin-bottom: 0;
        }
        margin-bottom: 1em;
    }
    &__description {
        p {
            font-weight: 200;
            margin: 0;
        }
    }
    &__worckTime {

    }
    // &__ {

    // }
}