
// colors
$acent1: #262626;
$acent2: #565656;
$acent3: #969696;
$acent4: #100873;
$acent5: #2419B2;
$acent9: #ffffff;

$hover-light: #e2e2e2;
// border
$border-radius-large: 1.5em; 
$border-radius-middle: .7em; 
$border-radius-small: .3em; 

$box-shadow-middle: 0 0 6px 0 #707070;
$box-shadow-light: 0 0 6px 0 #e2e2e2;

// components
@import './assets/scss/_lang';
@import './assets/scss/_company';
@import './assets/scss/_suggestions';


* {
  margin: 0;
  padding: 0;
}
.wrapper {
  // display: flex;
  // // align-items: ;
  // flex-wrap: wrap;
  // height: 100vh;
  // header, footer {
  //   flex-basis: 100%;
  // }
}

p {
  margin-bottom: 0;
}
.vacancyTitle {
    font-size: 2em !important;
    font-weight: 800 !important;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.main_sitbar {
  display: flex;
  gap: 1rem;

  aside {
    // box-shadow: $box-shadow-light;
    flex: 4;
    max-width: 300px;
    font-size: 14px;
  }
  main {
        flex: 10;
  }
}
@media screen and (max-width: 768px) {
  .main_sitbar {
    flex-wrap: wrap;
    main {
      flex-basis: 100%;
      order: 1;
    }
    aside {
      flex-basis: 100%;
      order: 2;
          max-width: 100%;
    }
  }
}

.ABProgramm {
  &__description {
    font-weight: 400;
  }
    &__tehnologes {
      margin-top: 1.4em;
    }
    // &___title {
    //   font-size: 1.4em;
    // }
  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: .5em;
  //   margin-top: 1.4em;
  //   .ABProgramm__tehnologyitem {
  //     font-size: 1em;
  //     padding: 0.2em 1em;
  //     border-radius: $border-radius-middle;
  //     background: $acent5;
  //     color: $acent9;
  //     transition: box-shadow .4s ease-in-out ;
  //     &:hover {
  //       box-shadow: $box-shadow-middle;
  //     }
  //   }
  // }
}
.contacts {
  font-size: 16px;
  b {
    font-size: 1em;
  }
  a {
    font-size: .9em;
    text-decoration: underline;
  }
}
.Footer {
  padding: 1.5em 0;
  .Footer__copyright {
    display: flex;
    align-items: center;
    font-weight: 600;
  }
}
.tags {
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin-top: .6em;
  }
  &__title {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
  }
  &__item {
    font-size: .9em!important;
    padding: 0.2em 1em;
    border-radius: $border-radius-middle;
    background: $acent5;
    color: $acent9;
    transition: box-shadow .4s ease-in-out ;
    &:hover {
      box-shadow: $box-shadow-middle;
    }
  }
}

